@import './../../Style/variables';

.register {
    background: $lightBlurColor;
    padding: 200px;

    &__form {
        background-color: $whiteColor;
        position: absolute;
        top: 100px;
        left: 650px;
        width: 450px;
        height: 650px;
        padding: 50px;
        opacity: 0.7;
        border-radius: 15px;

        h2 {
            font-size: 30px;
            margin-bottom: 25px;
        }
    }

    &__formcontrol {
        width: 350px;
        margin-bottom: 35px;

        label {
            display: block;
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 600;
        }

        button {
            font-size: 17px;
        }

        .error {
            color: $redColor;
        }
    }

    &__link {
        color: $greenColor;
        text-decoration: none;
        float: Right;
    }
}