@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Roboto:wght@100&display=swap');

$font-family-primary: 'Roboto',
sans-serif;

$blueColor: #0288d1;
$redColor: red;
$greenColor: #3AB09E;
$whiteColor: #ffffff;
$lightBlurColor:#f0f8ff;