@import "../../Style/abstract";

.pokemonDetail {
    &__header {
        background-color: $greenColor;
        color: $whiteColor;
        padding: 10px;
        margin-bottom: 5px;

        h1 {
            font-size: 30px;
        }
    }


    h2 {
        display: block;
        font-weight: bold;
        font-size: 25px;
        margin: 8px 0px;
    }

    button {
        margin-top: 30px;
        border-radius: 5px;
        padding: 8px 40px;
    }

    img {
        height: 100px;
    }

    &__point {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 10px;

        label {
            font-weight: bold;
            font-size: 16px;
        }
    }

}