@import "../../Style/abstract";


.pokemonListPage {

    &__header {
        background-color: $greenColor;
        color: $whiteColor;
        padding: 10px;
        margin-bottom: 5px;

        h1 {
            font-size: 30px;
        }
    }

    &__gridLayout {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    &__filtter {
        display: flex;
        justify-content: flex-end;
        text-align: end;
        gap: 10px;
    }

    .MuiPaper-root {
        .MuiCard-root {
            width: 555px;
        }
    }

    .css-1le28he-MuiInputBase-root {
        margin-right: 10px !important;

    }

    .MuiInputBase-root {
        margin-right: 10px !important;
    }

    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 3px 25px;
    }

    .css-bhp9pd-MuiPaper-root-MuiCard-root {
        width: auto !important;
    }
}